/* Landing */
.landing {
    text-align: center;
    background-color: #FDDED8;
}

.landing-contents {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.landing-title {
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.05em;
    color: #2B292D;
}

.landing-desc {
    margin-bottom: 24px;
    line-height: 1.375;
}

.landing-contents .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-contents .button-wrapper a:first-child {
    margin-right: 8px;
}

/* Summary */
.summary {
    padding: 80px 0;
    background-color: #F4F5F7;
}

.summary .row .col-md-6:first-child {
    margin-bottom: 40px;
}

.summary-title {
    margin-bottom: 16px;
    font-size: 22px;
    line-height: 1.363636363636364;
    letter-spacing: -0.04em;
    color: #2B292D;
}

/* Program */
.program .category {
    margin-bottom: 8px;
    color: #009B4D;
}

.program .detailed-page-title {
    margin-bottom: 24px;
}

.program-card {
    display: block;
    margin-bottom: 20px;
    padding: 24px 0 32px 0;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1),
                0px 4px 6px rgba(0, 0, 0, 0.05),
                inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    transition: background-color 350ms ease-in-out,
                box-shadow 350ms ease-in-out;
}

.program .row:last-child .col-12:last-child .program-card {
    margin-bottom: 0;
}

.program-card:hover {
    background-color: #3141C5;
    box-shadow: 0px 13px 18px rgba(0, 0, 0, 0.15),
                0px 11px 55px rgba(0, 0, 0, 0.07);
}

.program-card:hover strong {
    color: #FFFFFF;
}

.program-card strong::before {
    content: ''; /* content 속성에서는 이미지 사이즈 조정 불가 */
    display: block;
    width: auto;
    height: 195px;
    margin-bottom: 16px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.program .row:first-child {
    margin-bottom: 32px;
}

.program .row:last-child .col-12:first-child strong::before {
    background-image: url('../assets/img-fulltime-campus.png');
}

.program .row:last-child .col-12:nth-child(2) strong::before {
    background-image: url('../assets/img-fulltime-remote.png');
}

.program .row:last-child .col-12:last-child strong::before {
    background-image: url('../assets/img-parttime-flex.png');
}

.program-card strong {
    font-size: 18px;
    line-height: 1.333333333333333;
    letter-spacing: -0.02em;
    color: #2B292D;
    transition: color 350ms ease-in-out;
}

/* Curriculum */
.curriculum .category {
    margin-bottom: 8px;
    color: #0189D1;
}

.curriculum .detailed-page-title {
    margin-bottom: 24px;
}

.curriculum-desc {
    margin-bottom: 32px;
}

.curriculum .row:first-child {
    margin-bottom: 48px;
}

.curriculum-detail-desc {
    font-size: 15px;
    line-height: 1.466666666666667;
}

.curriculum .row:last-child .col-12:first-child {
    margin-bottom: 40px;
}

/* Responsive */
@media screen and (min-width: 768px) {
    /* Landing */
    .landing-contents {
        height: auto; /* landing-content 내부 요소의 height 총합이 되도록 설정 */
        padding: 120px 0;
    }

    .landing-title {
        margin-bottom: 32px;
        font-size: 70px;
        line-height: 1.028571428571429;
    }

    .landing-desc {
        margin-bottom: 32px;
        line-height: 1.454545454545455;
    }

    .landing-contents .button-wrapper a:first-child {
        margin-right: 16px;
    }

    /* Summary */
    .summary-title {
        font-size: 26px;
        line-height: 1.307692307692308;
    }

    .summary .row .col-md-6:first-child {
        margin-bottom: 0;
    }

    /* Program */
    .program {
        text-align: center;
    }

    .program .row:first-child {
        margin-bottom: 72px;
    }

    .program .category {
        margin-bottom: 16px;
    }

    .program .detailed-page-title {
        margin-bottom: 32px;
    }

    .program-card {
        margin-bottom: 0;
    }

    .program-card strong::before {
        margin-bottom: 24px;
    }

    /* Curriculum */
    .curriculum .category {
        margin-bottom: 16px;
    }
    
    .curriculum .detailed-page-title {
        margin-bottom: 32px;
    }
    
    .curriculum-desc {
        margin-bottom: 72px;
    }

    .curriculum .row:first-child {
        margin-bottom: 36px;
    }

    .curriculum-image {
        content: '';
        display: block;
        width: auto;
        height: 426px;
        background-image: url('../assets/img-curriculum.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .curriculum-detail-desc {
        font-size: 18px;
        line-height: 1.444444444444444;
    }

    .curriculum .row:last-child .col-12:first-child {
        margin-bottom: 0;
    }
}